@model Item
@using System.Text.Json
@using PShop.Data
@inject IHtmlLocalizer<SharedResource> Localizer


@{
	var shopcart = ViewBag.SCart as List<Item>;
	var wishlist = ViewBag.Wlist as List<Item>;
	var sale = Model.Sale * 100;
}
@inject StoreContext _context
<div class="card " style="background-color: #ffffff">
	


	<div class="row card-body">
		<div class="col-sm-2 text-center">
			<a asp-controller="Items" asp-action="Details" asp-route-id="@Model.Id"><img class="img-thumbnail" style="border-color:white;" src="@Html.DisplayFor(modelItem => Model.Img)" /><br></a>
		</div>
		<div class="col-sm-6 ">
			<h5><a asp-controller="Items" asp-action="Details" asp-route-id="@Model.Id" class="text-left">@Html.DisplayFor(modelItem => Model.Name)</a></h5>
			@if (Model.ScoreCount > 0)
			{
				@if (Model.AvgScore >= 7)
				{
					<div class=" text-center rating" style="background-color:#4cff00">
						@Model.AvgScore.ToString("f")
					</div>
				}
				else if (Model.AvgScore >= 5)
				{
					<div class="text-center rating" style="background-color:#ffd800">
						@Model.AvgScore.ToString("f")
					</div>
				}
				else
				{
					<div class="text-center rating" style="background-color:#ff0000">
						@Model.AvgScore.ToString("f")
					</div>
				}
			}
		</div>
		<div class="col-sm-4">

			@if (Model.Sale == 0)
			{
				<h4 class="text">@Model.Price.ToString("c")</h4>
			}
			else
			{
				<p>
					<a style="font-size:16px ;color:#4cff00; background-color:#1e6500">&nbsp-@sale%&nbsp</a>&nbsp
					<s>@Model.Price.ToString("c")</s>
				</p>
				<h4 class="text">@Model.SalePrice().ToString("c")</h4>

			}
		</div>
	</div>
</div>