@model IEnumerable<PShop.Models.Item>
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization


@inject IHtmlLocalizer<SharedResource> Localizer
@{


	int pageCount = (ViewData["PageCount"] as int?) ?? 0;
	int currentPage = (ViewData["CurrentPage"] as int?) ?? 1;
	string sortBy = ViewData["SortBy"] as string ?? "";
	string filterBy = ViewData["FilterBy"] as string ?? "";

	ViewData["Title"] = filterBy != "" ? filterBy : Localizer["All games"];

	bool bsearch = (bool)ViewData["bsearch"];
	string search = (string)ViewData["Search"];
	//CultureInfo.CurrentCulture = new CultureInfo("en-US");
	//CultureInfo.CurrentUICulture = new CultureInfo("en-US");
}
@{
	var tags = ViewData["Tags"] as List<Tag>;


	SelectList tagsSelectList = tags != null ? new SelectList(tags, "Id", "tag") : null;
}

@if (User.IsInRole("Admin"))
{
	<div><a asp-action="Create">Create</a></div>
}
@if (bsearch)
{
	<h1>@Localizer["Search results for"] @search :</h1>
}
<div class="card" style="background-color: #ffffff">

	<div class="card-header row ">
		<div class=" col-sm-4">
			@if (sortBy == "name")
			{
				<a class="text-left" asp-action="Index" asp-route-page="@(currentPage)" asp-route-filterBy="@filterBy" asp-route-sort-by="nameD" asp-route-search="@search">
					@Localizer["Title"]
					@if (sortBy == "name")
					{
						<span>↑</span>
					}
					@if (sortBy == "nameD")
					{
						<span>↓</span>
					}
				</a>
			}
			else
			{
				<a class="text-left" asp-action="Index" asp-route-page="@(currentPage)" asp-route-filterBy="@filterBy" asp-route-sort-by="name" asp-route-search="@search">
					@Localizer["Title"]
					@if (sortBy == "name")
					{
						<span>↑</span>
					}
					@if (sortBy == "nameD")
					{
						<span>↓</span>
					}
				</a>
			}

		</div>
		@*<div class="dropdown show col-sm-2">
			<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			@Localizer["Games with tag"]:&nbsp @filterBy
			</a>

			<div class="dropdown-menu " style="overflow:auto" aria-labelledby="dropdownMenuLink">
			<a class="dropdown-item" asp-controller="Items" asp-route-filterBy="">Любой</a>
			@foreach (var tag in tags)
			{
			<a class="dropdown-item" asp-controller="Items" asp-route-filterBy="@tag.tag">@tag.tag</a>
			}
			</div>

			</div>*@
		<div class="text-left col-sm-4">
			@if (sortBy == "score")
			{
				<a asp-action="Index" asp-route-page="@(currentPage)" asp-route-filterBy="@filterBy" asp-route-sort-by="scoreD" asp-route-search="@search">
					@Localizer["Rating"]
					@if (sortBy == "score")
					{
						<span class="text-center">↑</span>
					}
					@if (sortBy == "scoreD")
					{
						<span class="text-center">↓</span>
					}
				</a>
			}
			else
			{
				<a asp-action="Index" asp-route-page="@(currentPage)" asp-route-filterBy="@filterBy" asp-route-sort-by="score" asp-route-search="@search">
					@Localizer["Rating"]

					@if (sortBy == "score")
					{
						<span class="text-center">↑</span>
					}
					@if (sortBy == "scoreD")
					{
						<span class="text-center">↓</span>
					}
				</a>
			}

		</div>
		<div class="text-left col-sm-4">
			@if (sortBy == "price")
			{
				<a asp-action="Index" asp-route-page="@(currentPage)" asp-route-filterBy="@filterBy" asp-route-sort-by="priceD" asp-route-search="@search">
					@Localizer["Price"]

					@if (sortBy == "price")
					{
						<span class="text-center">↑</span>
					}
					@if (sortBy == "priceD")
					{
						<span class="text-center">↓</span>
					}
				</a>
			}
			else
			{
				<a asp-action="Index" asp-route-page="@(currentPage)" asp-route-filterBy="@filterBy" asp-route-sort-by="price" asp-route-search="@search">
					@Localizer["Price"]

					@if (sortBy == "price")
					{
						<span class="text-center">↑</span>
					}
					@if (sortBy == "priceD")
					{
						<span class="text-center">↓</span>
					}
				</a>
			}

		</div>
	</div>

	<div class="card-body row ">
		@foreach (var item in Model)
		{
			if (filterBy != "" && (item.Tag1 == filterBy || item.Tag2 == filterBy || item.Tag3 == filterBy))
			{

				<partial name="OneItem" model="item" />

			}
			if (filterBy == "")
			{

				<partial name="OneItem" model="item" />
			}
		}
	</div>


	<div class="card-footer">
		@if (currentPage > 1)
		{
			<a class="btn btn-outline-info" asp-action="Index" asp-route-page="1" asp-route-filterBy="@filterBy" asp-route-sort-by="@sortBy" asp-route-search="@search"> На первую </a>
		}
		@if (currentPage > 1)
		{
			<a class="btn btn-outline-info" asp-action="Index" asp-route-page="@(currentPage - 1)" asp-route-filterBy="@filterBy" asp-route-sort-by="@sortBy" asp-route-search="@search"> 🠔 </a>
		}

		@Localizer["Page"]
		@currentPage
		@Localizer["of"]
		@pageCount

		@if (currentPage < pageCount)
		{
			<a class="btn btn-outline-info" asp-action="Index" asp-route-page="@(currentPage + 1)" asp-route-filterBy="@filterBy" asp-route-sort-by="@sortBy" asp-route-search="@search"> ➞ </a>
		}
		@if (currentPage < pageCount)
		{
			<a class="btn btn-outline-info " asp-action="Index" asp-route-page="@pageCount" asp-route-filterBy="@filterBy" asp-route-sort-by="@sortBy" asp-route-search="@search"> На последнюю </a>
		}
	</div>
</div>
