@model IEnumerable<Item>



@{
	//CultureInfo.CurrentCulture = new CultureInfo("en-US"); CultureInfo.CurrentUICulture = new CultureInfo("en-US");
}
@inject IHtmlLocalizer<SharedResource> Localizer
@{
	decimal sum = 0;
	ViewData["Title"] = Localizer["Shop cart"];
}


@if (Model.Count<Item>() != 0)
{


	<h2>@Localizer["Shop cart"]</h2>
	<table class="table-borderless">

		<tbody>
			@foreach (var item in Model)
			{
				sum += item.SalePrice();
				<tr>
					<td>
						<div class="container  ">

							<div class="row">
								<partial name="OneItemShopCart" model="item" />
							</div>

						</div>
					</td>
				</tr>
			}

		</tbody>
	</table>



	<h4 class="text-center">
		@Localizer["Summary"] : @sum.ToString("c")<br>
		<a class=" btn btn-outline-danger" asp-controller="Items" asp-action="Summary">@Localizer["Pay"]</a>
	</h4>
}
else
{
	<h1 class="text-center">@Localizer["Shop cart is empty!"]</h1>

	<h4 class="text-center">
		<a class=" btn btn-outline-danger" asp-controller="Home" asp-action="Index">@Localizer["to Home Page"]</a>
	</h4>
}