@{
	var CItem1 = ViewData["CItem1"] as Item;
	var CItem2 = ViewData["CItem2"] as Item;
	var CItem3 = ViewData["CItem3"] as Item;
	Random R = new();

	var TagItems = ViewData["TagItems"] as List<Item>;
	var Tag = ViewData["Tag"] as string;
	var Tags = ViewData["Tags"] as List<Tag>;

	var Iarr1 = new[] { CItem1.Img2, CItem1.Img3, CItem1.Img4, CItem1.Img5 };
	var Iarr2 = new[] { CItem2.Img2, CItem2.Img3, CItem2.Img4, CItem2.Img5 };
	var Iarr3 = new[] { CItem3.Img2, CItem3.Img3, CItem3.Img4, CItem3.Img5 };

	var SaleItems = ViewData["SaleItems"] as List<Item>;

	//CultureInfo.CurrentCulture = new CultureInfo("en-US"); CultureInfo.CurrentUICulture = new CultureInfo("en-US");
}

@inject IHtmlLocalizer<SharedResource> Localizer
@{
	ViewData["Title"] = Localizer["Home"];
}

@inject UserManager<User> UserManager

<div class="card" style="background-color: #ffffff">
	<div class="card-body">
		<div class="row">
			<div class="list-group col-lg-2">
				@foreach (Tag tag in Tags)
				{
					<a class="list-group-item list-group-item-action  btn btn-dark" style="background-color: #ffffff;margin:0.5rem" asp-controller="Items" asp-action="Index" asp-route-filterby="@tag.tag">@tag.tag</a>
				}
			</div>
			<div class="card col-lg-7" style="background-color: #ffffff; margin:0.5rem">
				<div class="card-header">
					<h3>@Localizer["Look also"]:</h3>
				</div>
				<div class="card-body">
					@if (CItem1 != null || CItem2 != null || CItem3 != null)
						{
							<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner" data-ride="c" style="text-shadow:1px 1px 2px black">
									<div class="carousel-item active">
										<a asp-controller="Items" asp-action="Details" asp-route-Id=@CItem1.Id><img class="d-block w-100" src=@CItem1.Img alt="First slide"></a>
										<div class="carousel-caption d-none d-md-block">
											<h2>@CItem1.Name</h2>
											@{
												var sale = CItem1.Sale * 100;
											}
											@if (CItem1.Sale == 0)
											{
												<a class="text-center">@CItem1.Price.ToString("c")</a>
											}
											else
											{

												<a class="text-center">@CItem1.SalePrice().ToString("c")</a>
												<a style="font-size:16px ;color:#4cff00; background-color:#1e6500">&nbsp-@sale%&nbsp</a>


											}<br />
											<a class="btn btn-danger" asp-controller="Items" asp-action="Details" asp-route-Id=@CItem1.Id>@Localizer["Details"]</a>
										</div>
									</div>
									<div class="carousel-item">
										<a asp-controller="Items" asp-action="Details" asp-route-Id=@CItem2.Id><img class="d-block w-100" src=@CItem2.Img alt="Second slide"></a>
										<div class="carousel-caption d-none d-md-block">
											<h2>@CItem2.Name</h2>
											@{
												sale = CItem2.Sale * 100;
											}
											@if (CItem2.Sale == 0)
											{
												<a class="text-center">@CItem2.Price.ToString("c")</a>
											}
											else
											{

												<a class="text-center">@CItem2.SalePrice().ToString("c")</a>
												<a style="font-size:16px ;color:#4cff00; background-color:#1e6500">&nbsp-@sale%&nbsp</a>


											}<br />
											<a class="btn btn-danger" asp-controller="Items" asp-action="Details" asp-route-Id=@CItem2.Id>@Localizer["Details"]</a>
										</div>
									</div>
									<div class="carousel-item">
										<a asp-controller="Items" asp-action="Details" asp-route-Id=@CItem3.Id><img class="d-block w-100" src=@CItem3.Img alt="Third slide"></a>
										<div class="carousel-caption d-none d-md-block">
											<h2>@CItem3.Name</h2>
											@{
												sale = CItem3.Sale * 100;
											}
											@if (CItem3.Sale == 0)
											{
												<a class="text-center">@CItem3.Price.ToString("c")</a>
											}
											else
											{
												<a class="text-center">@CItem3.SalePrice().ToString("c")</a>
												<a style="font-size:16px ;color:#4cff00; background-color:#1e6500">&nbsp-@sale%&nbsp</a>
											}
											<br />
											<a class=" btn btn-danger" asp-controller="Items" asp-action="Details" asp-route-Id="@CItem3.Id">@Localizer["Details"]</a>
										</div>
									</div>
								</div>

								<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						}

				</div>
			</div>
			<div class="list-group col-lg-2">
				<a class="list-group-item list-group-item-action  btn btn-dark" style="background-color: #ffffff;margin:0.5rem" asp-controller="Items" asp-action="ShopCart">@Localizer["Shop cart"]</a>
				<a class="list-group-item list-group-item-action  btn btn-dark" style="background-color: #ffffff;margin:0.5rem" asp-controller="Items" asp-action="WishList">@Localizer["Wishlist"]</a>
				<a class="list-group-item list-group-item-action  btn btn-dark" style="background-color: #ffffff;margin:0.5rem" asp-controller="Items" asp-action="Orders">@Localizer["Orders"]</a>
			</div>
		</div>
	</div>
</div>
<br />
<div class="card" style="background-color: #ffffff">
	<div class="card-header">
		<h5>@Localizer["Sale"]:</h5>
	</div>
	@foreach (var item in SaleItems)
	{
		<partial name="OneItem" model="item" />
	}
</div>
<br />